<html>
<head>       
    <title>RecipeBox</title>
    </head> 
    <body>
        <h1>My Recipe Box</h1>
        <form action=" " method="post">
            {% csrf_token %}
            {{form.as_p}}
            <p>Create a new account <a href="/register">Click Here<a/></p>
            <!-- <button>Login</button> -->
        </form>
 
<ul>       
    {% if user.is_authenticated %} You are logged in!
        {{ user.username }} 
        <a href="{% url 'logout_url' %}"><button>Logout</button></a>
    {% else %} You aren't logged in!        
        <a href="{% url 'login_url' %}"><button>Login</button></a>
    {% endif %}
</ul>   
    
<ul>
    {% for recipes in data %}
        <li><a href="/recipedetail/{{recipes.id}}/" >{{ recipes.title }}</a></li>
    {% endfor %}
</ul>
  
    <a href="{% url 'recipe_add' %}"><button>Add Recipe</button></a>
    <a href="{% url 'author_add' %}"><button>Add Author</button></a>

    </body>

</html>



